@import '../../../../node_modules/npm-font-open-sans/open-sans.css';

html {
  height: 100%;
}

#term {
  width: 750px;
}

body {
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  user-select: none;
  outline: none;
}

*:focus {
  outline: 0;
}

table {
  width: 750px;
  margin: 50px auto;
  margin-top: 30px;
}

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #373a47;
  color: white;
  font-weight: bold;
}

td, th {
  padding: 10px;
  text-align: left;
  font-size: 18px;
}

.device {
  text-align: center;
}

.bouton {
  background: #373a47;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.1s;
}

.dnsinput {
  padding: 10px;
  font-size: 20px;
  margin-right: -20px;
}

.bouton:hover {
  background: white;
  color: black;
  -webkit-box-shadow: inset 0px 0px 15px -1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 15px -1px rgba(0, 0, 0, 0.2);
  transition: 0.1s;
}

.ip {
  font-size: 25px;
  margin: 20px;
  margin-top: 30px;
}

.domaine {
  font-size: 25px;
  margin: 20px;
}

.mac {
  font-size: 25px;
  margin: 20px;
  margin-bottom: 35px;
}

.save {
  padding-top: 20px;
}

.list-save {
  width: 750px;
  margin: auto;
  margin-top: 20px;
}

.list-save2 {
  font-size: 25px;
  text-align: left;
}

.save-table {
  margin-bottom: 0;
  padding-bottom: 50px;
}

.restaurer {
  cursor: pointer;
  background: #373a47;
  color: white;
  width: 100px;
  text-align: center;
}

.restaurer:hover {
  background: white;
  color: black;
}

.supprimer {
  cursor: pointer;
  background: #373a47;
  color: white;
  width: 100px;
  text-align: center;
}

.supprimer:hover {
  background: #cc181e;
}