h1.MainPageTitle {
  padding-top: 21px;
  padding-left: 80px;
  font-size: 42px;
  color: #373a47;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 35px;
  transition: 0.30s;

}
.bm-cross-button:hover {
  transform: rotate(90deg);
  transition: 0.30s;
}


.bm-cross {
  background: #bdc3c7;

}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.page-wrap{
  background-color: #F7F7F7;
  height: 100%;
  width: 100%;
}
.menu-item {
  color: #808080;
  font-size: 20px;
  text-decoration:none;
  padding-top: 17px;
  transition: 0.30s;
  cursor: pointer;
  padding-left: 10px;

}
.bm-menu-wrap{
  position: absolute;
}


.menu-item:after {
	content: '';
  position: absolute;
  left: 38px;
  display: inline-block;
  width: 20%;
  border-bottom: 1px solid;
  margin-top: 25px;
  opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(0,2);
}

.menu-item:hover:after {
  opacity: 1;
	transform: scale(1);
}

.menu-item:hover {
  	transition: 0.30s;
    color: white;
}

.menu-title {
  margin:0;
  font-size: 40px;
}

.menu-small-title {
  margin:0;
  font-size: 25px;
  padding-top: 10px;
}
